body {
   font-family: Tahoma, serif;
	background: #00FA9A;
	font-size: 16px;
    color: white;

}

h1{
    font-family: Times, serif;
    font-size: 24px;
    color: darkblue;
}

table{
 color: #9400D3;

}


